body{
    margin: 0;
    border-radius: border-box;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.main-container{
    max-width: 550px;
    padding: 10px;
}

.main-container img{
    max-width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}

.main-container h2{
    color: white;
    font-weight: 500;
}

.main-container p{
    color: white;
    padding: 15px 0;
}

.btn{
    background-color: white;
    padding: 10px 19px;
    cursor: pointer;
    border: none;
    border-radius: 5px;

}

.btn:hover{
    background-color: orange;
}

.trailer-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.2s;
}

.trailer-container video{
    position: relative;
    max-width: 900px;
    outline: none;
}

.active.trailer-container{
    visibility: hidden;
    opacity: 1;
}

@media(max-width: 991px){
    .trailer-container video{
        max-width: 91%;
    }
}

.close-icon{
    position: absolute;
    color: white;
    top: 34px;
    right: 34px;
    cursor: pointer;
}
